<% layout('/layouts/boilerPlate') -%>
<section>
    <h1><%= campground.title %></h1>
    <p><%= campground.id %></p>
    <p><%= campground.price %></p>
    <p><%= campground.location %></p>
    <p><%= campground.description %></p>
    <a href="/campgrounds">Back</a>
</section>
