<% layout('layouts/boilerplate') -%>

<section>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img
                    src="<%= campground.image %>"
                    alt="campground image"
                    class="card-img-top"
                />
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        $<%= campground.price %>/night
                    </li>
                </ul>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="btn-group">
                            <a
                                href="/campgrounds/<%= campground._id %>/edit"
                                class="card-link btn btn-success"
                            >
                                Edit
                            </a>
                            <a
                                href="/campgrounds"
                                class="card-link btn btn-primary"
                            >
                                Back
                            </a>
                        </div>
                        <form
                            class="my-0 py-0"
                            action="/campgrounds/<%= campground._id %>?_method=DELETE"
                            method="POST"
                        >
                            <button
                                type="submit"
                                class="card-link btn btn-danger"
                            >
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="text-muted">
                        Last updated <%= lastUpdatedRelative %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
